<title>Projects | yoezequiel</title>
{% extends "layout.html" %}

{% block content %}
<h1>Projects</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <a href="#"><img src="" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <a href="#"><h5 class="card-title">Buscador</h5></a>
                <p class="card-text">Proximamente</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}